/* Header area ------------------------ */
header {
    width: 100%;
    background-image: linear-gradient(to bottom left, rgb(0, 61, 61), rgb(9, 144, 255));
    color: white;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 5px;
}

/* Makes entire main body a flex container */
main {
    display: flex;
    flex-direction: row;
}

/* Search input and search button */
.formContainer {
    width: 25%;
}

form {
    display: flex;
    flex-direction: column;
    border: 1.5px solid gray;
    border-radius: 10px;
    padding: 10px 5px;
}

form input {
    border-radius: 5px 5px 0px 0px;
    border: 1px solid rgb(9, 144, 255);
    padding: 3px 0px 3px 3px;
}

#submitBtn {
    background-color: rgb(9, 144, 255);
    color: white;
    border-radius: 0px 0px 5px 5px;
    border: none;
    padding: 5px 0px;
}

#submitBtn:hover {
    box-shadow: inset 0px 0px 5px blue;
    transition: box-shadow .25s ease-in-out;
}

#submitBtn:active {
    box-shadow: inset 0px 0px 15px blue;
    transition: box-shadow .25s ease-out;
}

.formContainer h3 {
    border-bottom: 1px dotted gray;
}

/* Search History header and buttons */
#searchHistory {
    text-align: center;
}

.historyBtn {
    background-color: rgb(0, 114, 70);
    padding: 5px;
    width: 90%;
    margin: 5px 0px;
    color: white;
    border: 2px solid rgb(0, 61, 38);
}

.historyBtn:hover {
    box-shadow: inset 0px 0px 5px rgb(0, 61, 38);
    transition: box-shadow .25s ease-in-out;
}

.historyBtn:active {
    box-shadow: inset 0px 0px 15px rgb(0, 61, 38);
    transition: box-shadow .25s ease-out;
}

/* Weather section -------------- */
#placeholderForWeather {
    color: rgb(0, 61, 61);
}
#weatherContainer {
    margin-left: 10px;
    width: 90%;
}

/* Current Weather */
#currentWeather {
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px 10px 10px 10px;
}

#currentWeather h2 {
    margin-top: 0px;
}

/* Future Weather */
#forecast {
    display: flex;
    flex-wrap: wrap;
}

#box1, #box2, #box3, #box4, #box5 {
    flex-basis: 15%;
    margin: 2%;
    padding: 0px 8px;
    background-color: rgb(0, 61, 61);
    color: white;
}

.uvDanger {
    padding: 2px;
    border-radius: 5px;
    background-color: red;
    width: 25%;
}

.uvModerate {
    padding: 2px;
    border-radius: 5px;
    background-color: yellow;
    width: 25%;
}

.uvGood {
    padding: 2px;
    border-radius: 5px;
    background-color: lightgreen;
    width: 25%;
}